/* IMPORTAR FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* VARIABLES */

:root {
    --dark: #000000;
    --dark2: #1A1A1A;
    --ligth: #FFFFFF;
    --grey: #D4D4D4;
    --grey2: #AAA4A4;
    --grey3: #A3A3A3;
    --green: #CCFF00;
}


/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    overflow-x: hidden;
    height: 100%;
    background-color: var(--dark);
    color: var(--ligth);
}

/* HOME */

.hero {
    background-image: url('assets/img/hero_events.jpg');
    background-size: cover;
    background-position: center;
    height: 73vh;
    position: relative;


    .navcollapse {
        display: none;
    }

    .menu_mobile {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        top: 2%;
        width: 100%;
        padding-top: 3rem;

        .logo {
            margin-left: 10rem;
        }

        #menu_on {
            margin-right: 7rem;

            ul {
                list-style: none;
                display: flex;
                gap: 7rem;

                li {
                    a {
                        text-decoration: none;
                        color: var(--ligth);
                        font-size: 32px;
                        font-weight: 500;
                        transition: color 0.3s ease;
                        font-family: 'Bebas Neue', sans-serif;
                    }
                }
            }
        }
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero-content-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .recuadro {
                padding: .3rem 1.5rem;
                background-color: var(--green);
                color: black;
                font-family: 'Bebas Neue';
                font-size: 20px;
                font-weight: 100;
                letter-spacing: .05em;
                margin-bottom: 2rem;
                margin-top: 10%;
            }

            .title {
                margin-bottom: 1rem;
                font-family: "Bebas Neue", sans-serif;
                color: var(--grey);
                font-size: clamp(4rem, 7vw, 6.5rem);
                line-height: 0.95;
                letter-spacing: 0.15em;
            }

            .subtitle {
                display: flex;
                gap: 1rem;
                margin-bottom: 3rem;
                font-family: "Bebas Neue", sans-serif;
                font-size: 32px;
                line-height: 1.6;
                letter-spacing: .05em;
                color: var(--ligth);
                max-width: 620px;
                text-align: center;
            }

            span {
                width: 100%;
                height: 3px;
                background-color: var(--green);
                display: block;
                margin-bottom: 1rem;
            }
        }
    }

    .flechaAbajo {
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        img {
            width: 50px;
            height: auto;
        }
    }
}

/* ATHLETES */

.athletes {

    margin-left: 10rem;
    margin-top: 10rem;
    margin-right: 10rem;

    .title {
        display: flex;
        gap: 1rem;

        p {
            font-family: "Bebas Neue", sans-serif;
            color: var(--grey);
            font-size: 64px;
            line-height: 0.95;
            letter-spacing: 0.15em;
        }

        .athletes-green {
            color: var(--green);
        }
    }

    span {
        width: 50%;
        height: 3px;
        background-color: var(--green);
        display: block;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;

        .card {
            margin-bottom: 20%;

            .trophy {
                display: flex;
                margin-left: .6rem;
                gap: .6rem;

                p {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--green);
                    font-size: 20px;
                    letter-spacing: .05em;
                }
            }

            .title {
                margin-left: .6rem;
                margin-top: .6rem;
                font-family: "Bebas Neue", sans-serif;
                color: var(--ligth);
                font-size: 36px;
                letter-spacing: 0.05em;
            }

            .subtitle {
                display: none;
            }

            .redes {
                display: none;
            }

            &:hover {

                scale: 1.02;
                border: 2px solid var(--green);
                transition: all .3s ease-in-out;
                cursor: pointer;

                .subtitle {
                    display: block;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    letter-spacing: .08em;
                    margin-bottom: .6rem;
                    color: var(--grey2);
                    width: 70%;
                    margin-top: 1.5%;
                    margin-left: .6rem;
                }

                .redes {
                    display: flex;
                    gap: .8rem;
                    margin-left: .6rem;
                    margin-top: .6rem;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    img:last-child {
                        margin-left: -.6rem;
                    }
                }
            }
        }

        .card1 {
            background-image: url(assets/img/traviss.jpg);
            background-size: cover;
            min-height: 651px;

            background-position: center;
            background-repeat: no-repeat;

            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .card2 {
            background-image: url(assets/img/tony.jpg);
            background-size: cover;
            min-height: 651px;

            background-position: center;
            background-repeat: no-repeat;

            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .card3 {
            background-image: url(assets/img/stephany.jpg);
            background-size: cover;
            min-height: 651px;

            background-position: center;
            background-repeat: no-repeat;

            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}

/* COMPETITIONS */

.competitions {
    margin-left: 10rem;
    margin-top: 15rem;
    margin-right: 10rem;

    .title {
        display: flex;
        gap: 1rem;

        p {
            font-family: "Bebas Neue", sans-serif;
            color: var(--grey);
            font-size: 64px;
            line-height: 0.95;
            letter-spacing: 0.15em;
        }

        .competitions-green {
            color: var(--green);
        }
    }

    span {
        width: 50%;
        height: 3px;
        background-color: var(--green);
        display: block;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 5rem;

        .card {
            display: flex;
            background-color: var(--dark2);
            min-height: 320px;

            .image {
                width: 35%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .parrafos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--green);
                    padding: .6rem 2rem;
                    gap: .3rem;

                    p {
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 32px;
                        letter-spacing: 0.1em;
                        color: var(--dark);
                        line-height: 1;
                    }
                }
            }

            .content {
                width: 65%;
                padding: 3rem 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .local {
                    display: flex;
                    gap: 0.5rem;
                    margin-bottom: 2rem;
                    margin-top: 1rem;

                    p {
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        letter-spacing: 0.15em;
                    }

                    .local-green {
                        color: var(--green);
                    }

                    .local-grey {
                        color: var(--grey2);
                    }
                }

                .title {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--light);
                    font-size: 48px;
                    letter-spacing: 0.08em;
                    margin-bottom: 2rem;
                }

                .subtitle {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    letter-spacing: 0.08em;
                    color: var(--grey2);
                    width: 80%;
                    margin-bottom: 2rem;
                    line-height: 1.6;
                }

                .btn {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    border: 1px solid var(--ligth);
                    width: fit-content;
                    padding: 0.8rem 1.2rem;
                    transition: all 0.3s ease-in-out;

                    p {
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 18px;
                        letter-spacing: 0.15em;
                        color: var(--light);
                    }

                    .svg {
                        width: 18px;
                        height: 18px;
                        margin-top: -.1rem;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;
                scale: 1.02;
                border: 2px solid var(--green);
                transition: all .3s ease-in-out;

                .title {
                    color: var(--green);
                }

                .btn {
                    cursor: pointer;
                    border-color: var(--green);
                    background-color: rgba(0, 255, 170, 0.05);

                    p {
                        color: var(--green);
                    }

                    svg path {
                        stroke: var(--green);
                    }
                }
            }
        }


        .card1 {
            .image {
                background-image: url("assets/img/event1.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .card2 {
            .image {
                background-image: url("assets/img/event2.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .card3 {
            .image {
                background-image: url("assets/img/event3.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

/* FAME */

.fame {
    margin-left: 6rem;
    margin-top: 15rem;

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .title {
            display: flex;
            gap: 1rem;

            p {
                font-family: "Bebas Neue", sans-serif;
                color: var(--grey);
                font-size: 64px;
                line-height: 0.95;
                letter-spacing: .15em;
            }

            .fame-green {
                color: var(--green);
            }
        }

        .subtitle {
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            letter-spacing: .15em;
            color: var(--grey2);
            margin-bottom: 2rem;
            line-height: 1.6;
            text-align: center;
            width: 50%;
        }
    }

    .icons {
        margin-top: 10rem;

        .title {
            display: flex;
            gap: 1rem;

            span {
                width: 5px;
                height: 60px;
                background-color: var(--green);
            }

            p {
                font-family: "Bebas Neue", sans-serif;
                color: var(--light);
                font-size: 32px;
                line-height: 2;
                letter-spacing: .1em;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 5rem;
            margin-bottom: 5rem;

            .card {
                background-color: var(--dark2);
                padding: 2rem .1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                width: 80%;
                text-align: center;

                .name {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--light);
                    font-size: 32px;
                    letter-spacing: .1em;
                    margin-top: 1rem;
                }

                .especiality {
                    font-family: 'Bebas Neue', sans-serif;
                    color: var(--green);
                    font-size: 24px;
                    letter-spacing: .1em;
                }

                .subtitle {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    letter-spacing: .05em;
                    color: var(--grey2);
                    width: 80%;
                }

                .redes {
                    display: flex;
                    gap: .8rem;
                    margin-left: .6rem;
                    margin-top: .6rem;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    img:last-child {
                        margin-left: -.6rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.02;
                    border: 2px solid var(--green);
                    transition: all .3s ease-in-out;

                    .name {
                        color: var(--green);
                    }
                }
            }
        }
    }
}

/* MILESTONE */

.milestone {
    margin-left: 6rem;
    margin-top: 15rem;

    .moments {
        margin-top: 10rem;

        .title {
            display: flex;
            gap: 1rem;

            span {
                width: 5px;
                height: 60px;
                background-color: var(--green);
            }

            p {
                font-family: "Bebas Neue", sans-serif;
                color: var(--light);
                font-size: 32px;
                line-height: 2;
                letter-spacing: .1em;
            }
        }

        .cards {
            margin-top: 5rem;
            margin-bottom: 10rem;
            display: flex;
            gap: 8rem;

            .card {
                background-color: var(--dark2);
                width: 40%;
                padding: 2rem 4rem;
                position: relative;

                .date {
                    display: flex;
                    gap: 1.5rem;
                    margin-bottom: 2rem;

                    .year {
                        background-color: var(--green);
                        padding: .5rem 1rem;
                        font-family: 'Roboto', sans-serif;
                        font-size: 32px;
                        font-weight: 700;
                        color: var(--dark);
                    }

                    .local {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        letter-spacing: .05em;
                        color: var(--grey2);
                        margin-top: 1rem;
                    }
                }

                img {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                }

                .title {
                    font-family: 'Bebas Neue', sans-serif;
                    color: var(--light);
                    font-size: 32px;
                    letter-spacing: .1em;
                    margin-bottom: 2rem;
                }

                .subtitle {
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    letter-spacing: .02em;
                    color: var(--grey2);
                    width: 90%;
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.02;
                    border: 2px solid var(--green);
                    transition: all .3s ease-in-out;

                    .title {
                        color: var(--green);
                    }
                }
            }
        }
    }
}


/* FOOTER */

footer {
    background-color: var(--dark);
    padding: 4rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 7%;

    .left {
        width: 30%;

        p {
            margin-top: 2rem;
            line-height: 1.8;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            color: var(--grey2);
        }
    }

    .center {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .title {
            font-family: "Bebas Neue", sans-serif;
            font-size: 32px;
            color: var(--grey);
        }

        .divpages {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .pages {
                margin-top: 1rem;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: var(--grey2);
                text-decoration: none;
            }
        }
    }

    .right {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            font-family: "Bebas Neue", sans-serif;
            font-size: 32px;
            color: var(--grey);
        }

        .redes {
            display: flex;
            gap: 1rem;
        }

        .text {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            color: var(--grey2);
        }
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
    .athletes {
        .cards {
            gap: 2rem;
        }
    }

    .fame {
        .icons {
            .cards {
                grid-template-columns: repeat(2, 1fr);

                .card:nth-child(3) {
                    margin-top: 5rem;
                }

                .card:nth-child(4) {
                    margin-top: 5rem;
                }
            }
        }
    }

    .milestone {

        .moments {

            .cards {
                gap: 2rem;

                .card {
                    width: 48%;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .hero {

        header {

            #menu_on {
                display: none;
            }

            .logo {
                display: block;
                margin-left: 2rem;
                transition: opacity 0.3s ease;

                img {
                    width: auto;
                    height: auto;
                }
            }

            /* Clase para ocultar el logo cuando se abre el menú */
            .logo.evanescence {
                opacity: 0;
                pointer-events: none;
            }

            nav .navcollapse {
                display: inline-block;
                width: 50px;
                height: 50px;
                z-index: 999;
                position: absolute;
                right: 2rem;
                top: 3rem;
            }
        }

        .menu_mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;

            backdrop-filter: blur(25px);

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            transition: height 0.5s ease-in-out;
            z-index: 998;

            .logo-m {
                text-align: center;
                opacity: 0;
                transform: translateY(-20px);
                transition: all 0.3s ease 0.2s;
                margin-top: 5rem;
            }

            #menu_mobile_nav {
                list-style-type: none;
                padding: 0;
                margin-top: 3rem;

                li {
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: all 0.3s ease;

                    a {
                        font-size: 1.4rem;
                        color: var(--ligth);
                        text-decoration: none;
                        display: block;
                        padding: 1rem;
                        margin: 0.5rem 0;
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 32px;
                        letter-spacing: 0.15em;
                        transition: color 0.3s ease;

                        &:hover {
                            color: var(--green);
                        }
                    }
                }
            }
        }

        .menu_mobile.grow {
            height: 100vh;

            .logo-m {
                opacity: 1;
                transform: translateY(0);
            }

            #menu_mobile_nav li {
                opacity: 1;
                transform: translateY(0);
            }

            #menu_mobile_nav li:nth-child(1) {
                transition-delay: 0.1s;
            }

            #menu_mobile_nav li:nth-child(2) {
                transition-delay: 0.2s;
            }

            #menu_mobile_nav li:nth-child(3) {
                transition-delay: 0.3s;
            }

            #menu_mobile_nav li:nth-child(4) {
                transition-delay: 0.4s;
            }
        }
    }

    .athletes {
        margin-left: 2rem;
        margin-right: 2rem;

        .cards {

            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;

            .card {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .competitions {
        margin-left: 2rem;
        margin-right: 2rem;

        .cards {
            .card {

                .image {
                    width: 40%;

                    .parrafos {

                        p {
                            font-size: 24px;
                        }
                    }
                }

                .content {

                    width: 60%;
                    padding: 1rem 2rem;

                    .local {
                        gap: 0.2rem;
                        margin-bottom: .5rem;

                        p {
                            font-size: 14px;
                        }
                    }

                    .title {
                        font-size: 38px;
                        margin-bottom: .5rem;
                    }

                    .subtitle {
                        font-size: 14px;
                        width: 100%;
                        margin-bottom: 2rem;
                    }

                    .btn {

                        p {
                            font-size: 14px;
                        }

                        .svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }


    .fame {
        margin-left: 2rem;
        margin-top: 10rem;

        .top {

            .subtitle {
                font-size: 18px;
                width: 80%;
            }
        }

        .icons {
            margin-top: 5rem;


            .cards {

                .card {
                    width: 90%;
                }
            }
        }
    }


    .milestone {
        margin-left: 2rem;
        margin-top: 10rem;
        margin-right: 2rem;

        .moments {
            margin-top: 10rem;

            .cards {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .card {
                    width: 100%;
                }
            }
        }
    }


    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;


        .left {
            width: 100%;

            p {
                margin-top: 2rem;
                line-height: 1.8;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: var(--grey2);
            }
        }

        .center {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: start;
            align-items: start;

            .title {
                font-family: "Bebas Neue", sans-serif;
                font-size: 32px;
                color: var(--grey);
            }

            .divpages {
                flex-direction: row;
                gap: 5rem;
            }
        }

        .right {
            width: 100%;
        }
    }
}